html, body {
	width: 100%;
	height: 100%;
	position: relative;
}
h1, h2, div, ul, li, p, span, a {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font-size: 13px;
	font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}
.wrap {
	max-width: 974px;
	padding: 30px 10px 0 10px;
	position: relative;
	margin: 0 auto;
}
.header {
	position: relative;
	height: 60px;
}
.header_signin_icon {
	position: absolute;
	width: 12px;
	height: 6px;
	margin-left: -22px;
	margin-top: 7px;
	background: url("../img/header_signin_link.png") no-repeat;
}
.header_signin_link:link {
	color: #3c3c3c;
}
.header_contacts_phone {
	color: #50739b;
	font-size: 24px;
}
.header_contacts_time {
	font-size: 12px;
	float: right;
}
.header_contacts_phone_red {
	color: #fb850a;
}
.logo {
	margin-left: 30px;
}
.header_signin {
	position: absolute;
	left: 584px;
	top: 10px;
}
.header_contacts {
	position: absolute;
	right: 25px;
	top: 5px;
}
.top-menu {
	width: 1069px;
	height: 50px;
	margin-left: -50px;
}
.top-menu_item_link:link {
	color: #3f6c98;
}
.top-menu_item {
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
}
.slider {
	position: relative;
	height: 340px;
	background-image: url("../img/slider-background.png")
}
.slider_valuation {
	position: absolute;
	width: 330px;
	height: 260px;
	margin-right: 21px;
	margin-top: 20px;
	margin-bottom: 22px;
	float: right;
	position: relative;
	background: #ebf0f6;
	border-radius: 3px;
	box-shadow: 0 3px 15px #d0d4da;
}
.slider_valuation_person {
	height: 50px;
	background: #fff;
	border-radius: 3px 0;  
	padding-left: 50px;
}
.slider_valuation_person_link {
	display: block;
	float: left;
	margin-top: 17px;
	color: #595959;
	text-decoration: none;
	margin: 17px 10px 0 10px;
	position: relative;
	height: 19px;
}
.slider_valuation_person_border-bottom {
	border-bottom: 1px dotted #AFAFB0;
	display: block;
	height: 19px;
}
.slider_valuation_person_triangle {
	position: absolute;
	display: none;
	background: url('../img/face-triangle.gif') no-repeat;
	width: 7px;
	height: 5px;
	left: 50%;
	margin-left: -4px;
	bottom: -5px;
}
/* перезаписываем стили для активного блока */
.slider_valuation_person_link_active {
	cursor: default;
}
.slider_valuation_person_link_active .slider_valuation_person_triangle {
	display: block;
}
.slider_valuation_person_link_active .slider_valuation_person_border-bottom {
	border-bottom: 1px solid #AFAFB0;
}
.slider_valuation_ocenka_option {
	line-height: 66px;
	text-align: center;
	font-size: 18px;
	color: #454545;
}
.slider_valuation_ocenka_option_link {
	text-decoration: none;
}
.slider_valuation_ocenka_option_border-bottom {
	border-bottom: 1px dotted #fb850a;
	color: #fb850a;	
}
.slider_valuation_ocenka_option_border-bottom:after {
	content: "";
    display: inline-block;
	width: 7px;
	height: 6px;
	margin-left: 3px;
	background-image: url('../img/valuation_triangle.png');
}
.slider_valuation_ocenka_description {
	text-align: center;
	font-style: italic;
	color: #636364;
	line-height: 19px;
}
.slider_valuation_ocenka_button {
	position: absolute;
	box-sizing: border-box;
	width: 188px;
	height: 42px;
	border: 3px solid #5c89b5;
	border-radius: 17px/22px;
	left: 50%;
	margin: 18px -94px;
	background: linear-gradient(to top, #e9eff5, #fff);
	text-align: center;
	line-height: 34px;
}
.slider_valuation_ocenka_button_text {
	font-weight: bold;
	font-size: 18px;
	color: #5f5f60;
}
.blue_row {
	position: absolute;
	display: inline-block;
	width: 974px;
	height: 39px;
	margin-top: 300px;
	background-image: url('../img/blue-11.png');
}
.blue_row_text {
	position: absolute;
	display: inline;
	margin-left: 144px;
	margin-top: -59px;/* bad way*/
	line-height: 35px;
	color: #dee9f1;
	font-size: 15px;
	font-weight: bold;
}
.controls {
	margin-top: 5px;
	margin-right: 4px;
	width: 100px;
    margin-left: 26px;
}
.controls_slide {
    display: inline-block;
    width: 19px;
    height: 20px;
    line-height: 40px;
    margin: 1px;
}
.controls_slide_one {
    background: url('../img/blue-row.png') no-repeat;
    background-position: 0 0;
}
.controls_slide_two {
    background: url('../img/blue-row.png') no-repeat;
    background-position: -19px 0;
}
.controls_slide_three {
    background: url('../img/blue-row.png') no-repeat;
    background-position: -38px 0;
}
.controls_slide_four {
    background: url('../img/blue-row.png') no-repeat;
    background-position: -57px 0;
}
.none {
	border: none;
}
.middle-menu {
	position: relative;
	height: 130px;
	margin-top: 50px;
	background-color: #F0F4F9;
	border-radius: 5px;
	color: #000;
}
.middle-menu_item {
	float: left;
	width: 20%;
	text-align: center;
}
.middle-menu_item_top {
	position: absolute;
	width: 200px;
	height: 23px;
	top: 1px;
	left: 50%;
	margin-left: -100px;
	box-shadow: 0 2px 1px #dde1e3;
	border-radius: 0 0 8px 8px;
	background-color: #fff;
	line-height: 22px; /*ýòî âûðàâíèâàåò òåêñò ïî âûñîòå*/
}
.middle-menu_item_icon {
	display: block;
	width: 65px;
	height: 51px;
	margin: 34px auto 10px;
}
.middle-menu_item_label {
	display: block;
}
.middle-menu_item_link:link {
	color: #101010;
}
.middle-menu_item_icon_appartament {
	background: url("../img/middle-menu.png") no-repeat;
}
.middle-menu_item_icon_village {
	background: url("../img/middle-menu.png") no-repeat;
	background-position: -65px 0;
}
.middle-menu_item_icon_commertial {
	background: url("../img/middle-menu.png") no-repeat;
	background-position: -130px 0;
}
.middle-menu_item_icon_transport {
	background: url("../img/middle-menu.png") no-repeat;
	background-position: -195px 0;
}
.middle-menu_item_icon_business {
	background: url("../img/middle-menu.png") no-repeat;
	background-position: -260px 0;
}
.signin {
	height: 130px;
	border: 1px solid #D8D8D8;
	border-radius: 5px;
	margin-top: 20px;
}
.signin_item {
	float: left;
	vertical-align: top;
	width: 50%;
}
.signin_item_icon {
	display: block;
	float: left;
	width: 65px;
	height: 61px;
}
.signin_item_link {
	display: block;
	margin-left: 120px;
	margin-top: 22px;
	font-size: 18px;
}
.signin_item_link:link {
	color: #3c3c3c;
	font-size: 24px;
}
.signin_item_description {
	display: block;
	margin-left: 120px;
	margin-top: 3px;
	font-style: italic;
	font-size: 13px;
	line-height: 18px;
	width: 300px;
	color: #3c3c3c;
}
.signin_item_icon_account {
	background: url("../img/singin.png") no-repeat;
	margin-top: 33px;
	margin-left: 34px;
	background-position: 0 0;
}
.signin_item_icon_corp {
	background: url("../img/singin.png") no-repeat;
	margin-top: 33px;
	margin-left: 34px;
	background-position: -65px 0;
}
.news {
	margin-top: 30px;
	margin-left: 30px;
}
.news_title {
	margin-bottom: 15px;
	font-size: 18px;
}
.news_title:link {
	color: #5a81a7;
}
.news_item {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 30%;
	margin-right: 3%;
	font-size: 13px;
	line-height: 18px;
}
.news_item_link {
	display: block;
	width: 285px;
}
.news_item_link:link {
	color: #3c3c3c;
}
.news_item_date {
	display: block;
	margin-top: 15px;
	font-style: italic;
	color: #8f8f8f;
}
.footer {
	margin-top: 17px;
	padding: 0 0 25px 30px;
	line-height: 21px;
	color: #3c3c3c;
}
.madeby:link {
	color: #3c3c3c;
}
.footer_row {
	background: url(../img/footer_row.png);
	max-width: 974px;
	height: 3px;
	margin-left: 1px;
	margin-top: 43px;	
}
.copy {
	float: left;
	width: 320px;
	height: 35px;
}